@media (max-width: 767.98px) {
    .top-header {
        height: auto;
    }

    .top-header-left {
        padding-top: 10px;
    }

    .top-header-right {
        padding-top: 3px;
    }
    .top-header-middle {
        padding-top: 4px;
    }
    .top-header-middle .form-control {
    height: 23px;
    padding: 0.0rem .75rem;
    font-size: .8rem;
}
.top-header-middle .input-group-text {
    padding: 0rem .75rem;
}

    .wish-cart button {
        padding: 15px 6px;
    }

    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: block;
    }

    .top-header-left h2 {
        font-size: 12px;
    }

    .top-header-right a:first-child {
        margin-right: 0px;
    }

    .top-header-right a {
        font-size: 9px;
    }


    .padd-right-0 {
        padding-right: 15px;
    }
    /*MENU*/
    .nav-absolute {
        width: 100vw;
    left: 0;
    height: 100vh;
    overflow-y: auto;

    }
    .menu .dropdown-menu-position {
        left: 0;
    top: 40px;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
    border-bottom: 1px solid gray !important;
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
    }

    .category {
        display: none;
    }
    .carousel-item img {
        max-width: 100%;
    }
    .category-slider .dropdown-menu-position {
        top: 5px;
        left: 212px;
        background: red;
    }

    .category-slider .dropdown-menu-position {

        width: 240px;
    }

    /*WOMEN COLLECTION*/
    .women-collection-header, .mens-collection-header, .kids-collection-header, .toppic-collection-header {
    height: 80px;
}
.collections-all-header, .center-item {
    top: 40%;
    left: 4%;
    transform: translate(0);
}
.collections-all-header h2 {
    font-size: 18px;
}
.women-see-icon {
    font-size: 12px;

}
.main-collections-body {
    padding: 0px 10px 0px 10px;
}
.main-collections-block:hover .quick-view {
    display: none;
}

    .shopping-card-flex {
        width: 247px;
    }

    .sponsore-product .pl-1 {
        padding-left: 15px !important;
    }

    .pr-n-2 {
        padding-right: 15px !important;
    }

    .similar-block {
        padding-top: 10px;
    }

    /*SHOPPING CART*/
    .official-store h6 {
    text-align: center !important;
}
.shop-cart-history img {
    width: 100% !important;
}
.shop-cart-details {
    padding-top: 10px;
}
.shop-cart-details .pr-5 {
    padding-right: 0 !important;
}


/*Product Details*/
.showhope {
    width: 330px;
    height: 330px;
}
.small-img {
    width: 300px;
    left: 17px;
}
.detail-product-right h2 {
    padding-top: 20px;
}
/*Campaign*/
.campaign-select-coupon {
    width: 322px;
}
}





@media (min-width: 768px) and (max-width: 991.98px) {
    .mobile-none {
        display: block;
    }

    .desktop-none {
        display: none;
    }

}






@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}