@media (max-width: 358px) {
    .categories-name-block-padd img {
        width: 95PX !important;
        height: 114px !important;
    }
    .seller-banner-block .pr-2 {
        padding-right: 0 !important;
    }
    .seller-banner-block-right {
    padding-left: 4px !important;
}
    .seller-banner-block img {
        height: 100% !important;
    }
    .new-pagination .page-link {
    padding: .2rem .6rem !important;
    font-size: 12px !important;
}
.shopping-cart-block-header p {
    font-size: 11px !important;
}
.coupons-toggle-a {
    font-size: 10px !important;
}
.get-coupons-toggle {
    left: 21px !important;
}
.get-coupons-toggle-body {
    width: 296px !important;
}
.campaign-select-coupon {
    width: 279px !important;
}
.campaign-coupon-date h6 {
    padding-left: 15px !important;
}
.campaign-coupon-date p {
    font-size: 10px !important; 
    padding-left: 15px !important;
}
  .account-middle-form {
    padding: 20px 10px !important;
}
  .ipad-pl-0 {
        padding-left: 15px !important;
    }
    .short-select-view p {
    font-size: 10px;
}
.short-select-view .form-control {
    font-size: 11px;
}
.filter-close-btn {
    padding: 4px 24px 0 0;
}
.filter-close-bottom {
    font-size: 12px !important;
    padding: 6px 8px;
}
.filter-add-btn {
    padding: 6px 8px;
}
.sidebar-fixed-top {
    height: 100vh !important;
}
.new-best-match-toggle {
    left: -32px !important;
}
.new-best-match-toggle li a{
    padding: 8px 0 8px 16px !important;
}
}


@media (max-width: 767px) {
.top-header-left {
    padding-top: 10px;
}
.top-header-right {
    padding-top: 10px;
}    
.account-flex-two, .wish-cart, .mobile-new-none {
    display: none !important;
}
.pages-header {
	display: none;
}
.desktop-new-none {
    display: block !important;
}
.top-header-middle-mobile {
    width: 100%;
}
.fixed-top .new-mobile-border {
    border-bottom: 1px solid #e0e0e0;
}
.navbar-toggler span {
    font-size: 12px;
}
.bottom-footer-for-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999999 !important;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px 0px;
}
.bottom-footer-mobile{
    display: flex;
    justify-content: space-around;
    padding: 14px 0px;
}
.bottom-chat-footer img {
    width: 200px;
    padding: 40px 0 60px 0;
}
.bottom-chat-flex:hover .bottom-chat-footer{
    display: block;
    
}
.bottom-chat-flex .account-form {
    text-align: center;
}
.bottom-chat-footer{
    background: #DBFFF4;
    text-align: left;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #96959259;
    display: none;
    z-index: 9999999999999999999999999 !important;
    bottom: 76px;
    right: 0;
    width: 100vw;
    height: 84vh;
}

.bottom-chat-footer h2 {
    font-size: 18px;
    background: #EBE7DE;
    padding: 20px 0;
    text-align: center;
}
.bottom-footer-mobile a{
    color: #212529;
    font-weight: 700;
    text-transform: uppercase;
}
.bottom-chat-flex .fa-comment-dots {
    font-size: 1.1rem;
  }
  .account-middle-form {
    padding: 20px 40px;
}
  .ipad-pl-0 {
        padding-left: 15px !important;
    }
    .sidebar-fixed-top {
    height: 100vh !important;
}
.filter-btn {
    	font-size: 12px;
    	background: transparent;
    }
    .filter-fixed-top {
    top: 63px !important;
}
.ipad-mobile-none {
    display: none;
}
.short-view-middle {
    float: none;
}
.short-view-right {
    float: none;
    padding-top: 0px;
}
.feature-mobile-none {
    display: none;
}
.short-view-middle p {
    margin-bottom: 0 !important;
}
.product-short-view-block h2 {
    font-size: 12px !important;
    margin-bottom: 0 !important;
}
.short-view-middle .fa-star {
    font-size: 10px !important;
}
.short-view-right .price-big {
    font-size: 18px !important;
}
.short-view-right .price-small span {
    font-size: 14px !important;
}
}


@media (max-width: 992px) {
   .new-mobile-none {
   	display: none;
   }
   .new-top {
   	padding-top: 10px;
   }
    .padd-right-15 {
        padding-right: 15px !important;
    }
    .padd-left-15 {
        padding-left: 15px !important;
    }
    .top-header-left {
       
    }

    .top-header-right {
       
    }

   .top-header-middle {
    padding: 13px 0;
}

    .top-header-middle .input-group-text {
        padding: 0rem .75rem;
    }

    .wish-cart button {
        padding: 8px 6px;
        font-size: 14px;
    }

    .sp-size {
        padding: 2px 4px 1px 2px;
    }

    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: block;
    }

    


 

    .mob-ipad-padd {
        padding-right: .25rem !important;
    }

    .padd-right-0 {
        padding-right: 15px;
    }

    /*MENU*/
    .nav-absolute {
        width: 100vw;
        left: 0;
        height: 100vh;
        overflow-y: auto;

    }

    .menu .dropdown-menu-position {
        left: 0;
        top: 40px;
        width: 100%;
        margin-bottom: 50px;
        height: auto;
        border-bottom: 1px solid gray !important;
        border-left: 1px solid gray !important;
        border-right: 1px solid gray !important;
    }

    .category {
        display: none;
    }

    .carousel-item img {
        max-width: 100%;
    }

    .category-slider .dropdown-menu-position {
        top: 5px;
        left: 212px;
        background: red;
    }

    .category-slider .dropdown-menu-position {

        width: 240px;
    }

    /*WOMEN COLLECTION*/
    .women-collection-header,
    .mens-collection-header,
    .kids-collection-header,
    .toppic-collection-header {
        height: 80px;
    }

    .collections-all-header,
    .center-item {
        top: 40%;
        left: 4%;
        transform: translate(0);
    }

    .collections-all-header h2 {
        font-size: 18px;
    }

    .women-see-icon {
        font-size: 12px;

    }

    .main-collections-body {
        padding: 0px 10px 0px 10px;
    }

    .main-collections-block:hover .quick-view {
        display: none;
    }

    .shopping-card-flex {
        width: 247px;
    }

    .sponsore-product .pl-1 {
        padding-left: 15px !important;
    }

    .pr-n-2 {
        padding-right: 15px !important;
    }

    .similar-block {
        padding-top: 10px;
    }

    .footer-block h6 {
        font-size: 16px;
    }

    .padd-20 {
        padding: 60px 0px;
    }

    .footer-block ul li a {
        font-size: 14px;
    }

    /*CATEGORIES SLIDER*/
    .new-category-page img {
        width: 100%;
        height: 220px;
    }

    .new-category-arrivals-header {
        padding-top: 20px;
    }

    .categories-pages-title-color {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .img-overlay-history {
        padding: 4px;
    }

    .win-a {
        font-size: 10px;
        padding: 2px 5px;
        bottom: -12px;
    }

    /*SHOPPING CART*/
    .official-store h6 {
        text-align: center !important;
    }

    .shop-cart-history img {
        width: 100% !important;
    }

    .shop-cart-details {
        padding-top: 10px;
    }

    .shop-cart-details .pr-5 {
        padding-right: 0 !important;
    }

    .get-coupons-toggle-body {
        width: 330px;
    }

    .get-coupons-toggle .dropdown-menu {
        top: 23px;
        left: 7px;
    }

    .shop-cart-details .wish-delete {
        padding-right: 0px !important;
    }

    /*Product Details*/

    .showhope {
        width: 100%;
        height: 330px
    }

    .small-img {}

    .small-container .show-small-img {
        width: 60px;
        height: 60px;
    }

    .detail-product-right h2 {
        padding-top: 20px;
    }

    .sidebar-flex-block-icon .fa-ribbon {
        font-size: 20px;
        padding: 5px 5px 0 0;
        color: gray;
    }

    .sidebar-flex-block-icon .fa-dollar-sign {
        font-size: 24px;
        padding: 3px 3px 0 2px;
        color: gray;
    }
    .detail-overview-sidebar-img .row{
        margin-right: -5px;
        margin-left: -5px;
    }
    .detail-overview-sidebar-img .col-6,.detail-overview-sidebar-img .col-sm-6,.detail-overview-sidebar-img .col-md-4 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .sipping-modal-res h5 {
        font-size: 16px;
    }

    .sipping-modal-res .padd-left-10 {
        padding-top: 2px;
        padding-bottom: 10px;
    }

    .sipping-modal-res img {
        width: 30px;
    }

    .sh-cart-plus-min .input-group-new {
        font-size: 12px;
        padding: 0px 6px;
        width: 90px;
        height: 25px;
    }

   .detail-quantity-input {
    width: 30px;
    font-size: 12px;
}

    .table td,
    .table th {
        padding: 0.25rem;
        font-size: 12px;
    }

  .sh-cart-plus-min .input-group-new {
    font-size: 10px;
    padding: 0px 6px;
    width: 90px;
    height: 21px;
}

    .input-span-line {
        line-height: 12px;
    }

    .customer-review-details-header {
        padding: 7px 0px;
    }

    .new-width-two.pl-3,
    .new-width-two.px-3 {
        padding-left: 0rem !important;
    }

    .new-width-two {
        margin-top: 1px;
    }

    .detail-short-right {
        margin-right: 5px;
    }

    .detail-overview .nav-link {
        padding: 0 18px 0 0;
    }

    .customer-details-review span {
        font-size: 14px;
    }

    .new-tab-pane h1 {
        font-size: 22px;
    }

    .new-tab-paddd.pt-3,
    .new-tab-paddd.py-3 {
        padding-top: .6rem !important;
    }

    .new-tab-paddd.col-5 {
        padding-right: 10px;
    }

    /*Product*/
    /*Filter Product*/
    .product-body-container {
    padding: 0px 10px 20px 10px;
}
.product-body-sidebar-scroll {
    overflow: hidden;
}
    .filter-fixed-top {
            position: fixed;
    top: 36px;
    right: 12px;
    padding-top: 14px;
    left: 10px;
    z-index: 1030;
    background: #E7EEE6;
    }
    .mobile-filter-header {
    margin-right: -15px;
    margin-left: -15px;
    padding: 0px 15px;
    border-top: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 2px 4px 0 #bbbbbb;
    box-shadow: 0 2px 4px 0 #bbbbbb;
    }
    .new-best-match-toggle {
    left: -26px;
    width: 100vw;
    top: 38px;
    z-index: 999999999999999999999999999 !important;
    background: #808080c2;
    bottom: 0;
    height: 100vh;
}

.new-best-match-toggle li a{
    padding: 8px 0 8px 11px;
    }
    .mobile-filter-header .form-group {
    	margin-bottom: 0;
    }
    .all-icon-filter {
    	border-right: 1px solid #d8d8d8;
    	padding-right: 10px;
    	display: block;
    	padding: 10px 10px 10px 0
    }
     .mobile-filter-header  .product-view {
    	padding-left: 10px;
    	padding-top: 12px
    }
    .filter-btn {
    	font-weight: 600;
    	color: #495057;
    	background: transparent;
    }
    .filter-mobile-heading-none {
        display: none;
    }

    .flex-select-view {
        justify-content: flex-end;
    }

    .filter-sort,
    .filter-price {
        display: none;
    }

    .mobile-filter-header {
        display: block;
    }

    .mobile-filter-header .short-select-view .fa-sort{
        font-size: 18px;
    padding-top: 4px;
    padding-right: 4px;
    }
 .best-match .pl-5 {
	padding-left: .3rem!important;
}
.best-match {
    border: 0;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    color: #495057 !important;
    margin-left: -16px;
}
.product-normal-view, .product-short-view {
	padding-top: 20px;
}
    .mobile-filter {
        display: none;
    }

    .filter-product-heading-extra {
        display: block;
        margin-left: -20px;
        margin-right: -20px;
        position: relative;
    }

    .filter-pro-fix-ex {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #d0cccc;
        z-index: 9999999999999999 !important;
    }

    .filter-product-heading-extra h1 {
        font-size: 18px;
        padding: 11px 0 0 10px;
        color: #212529;
    }

    .filter-close-btn {
        background: transparent;
        font-size: 25px;
        color: #212529;
        padding: 4px 30px 0 0;
    }

    .filter-bottom-div {
        display: block;
        height: 50px;
    }
    .filter-bottom-div .fixed-bottom {
    background: gray;
    padding: 10px 30px;
}

    .filter-add-btn {
        background: #5CC19F;
        color: #fff;
        font-weight: 600;
        font-size: 14px !important;
        padding: 6px 16px;
        border-radius: 3px;
    }

    .filter-close-bottom {
        background: #797272;
        color: #fff;
        font-weight: 600;
        font-size: 14px !important;
        padding: 6px 16px;
        border-radius: 3px;
    }

    .filter-active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        z-index: 99999999999999999999999999999999999999999999 !important;
        overflow: auto;
    }
    .
    .product-view.pro-extra-padd {
        padding-right: 16px;
    }

    /*Campaign*/
    .campaign-select-coupon {
        width: 322px;
    }

    .detail-similar-product {
        margin: 0;
    }

    .detail-overview .col-md-3.pr-1 {
        margin-right: 15px;

    }

    .detail-overview-sidebar-img {
        margin-bottom: 20px;
    }

    .detail-overview-sidebar-img img {
        width: 100%;
    }

    .product-name-block {
        margin-bottom: 10px;
    }

    .seller-banner-body-middle {
        padding: 30px 0px 10px 0px;
    }

    .seller-favorite {
        text-align: center;
    }

    .seller-favorite p {
        padding-top: 20px;
    }

    .seller-banner-body-bottom {
        padding-top: 30px;
    }

    .seller-banner-block {
        margin-bottom: 10px;
    }

    .payment-method .col-md-6:last-child {
        padding-top: 20px;
    }

    .slick-prev {
        left: -18px;
        z-index: 999999 !important;
    }

    .slick-next {
        right: -18px;
        z-index: 999999 !important;
    }

    .product-normal-view .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .product-normal-view .col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .campaign-coupon-date h6 {
        padding-left: 10px;
    }
.campaign-coupon-date p {
    font-size: 12px;
    padding-left: 10px; 
}
    .seller-banner-body-middle-left {
        padding-left: 10px;
    }

    .win-deal-three-item {
        margin-top: 30px;
    }
    .product-body-container {
    height: auto;
}
.filter-bottom-div {
    display:block;
}
.product-body-main, .product-short-view {
    height: auto;
}

.product-body-main .new-pagination {
    position: static;
}
.product-short-view .new-pagination {
    position: static;
}


}




/*MIN-768 AND MAX-992*/

@media (min-width: 768px) and (max-width: 992px) {
    .ipad-padd-n {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .ipad-mobile-none {
    	display: none;
    }
    .mobile-none {
        display: block;
    }

    .desktop-none {
        display: none;
    }
.top-header-left h2 {
        font-size: 14px;
    }

    .top-header-middle .input-group-text {
        padding: .375rem .75rem;
        font-size: 1.2rem;
    }

    .ipad-login-reg.col-sm-6 {
        padding: 0 !important;
    }

    .top-header-right {
       
    }

    .top-header-right a {
        font-size: 10px;
    }

    .collections-all-header h2 {
        font-size: 22px;
    }

    .win-deal-body .card-title,
    .main-collections-block .card-title {
        font-size: 14px;
    }

    .sale-left {
        font-size: 14px;
        width: 42px;
        padding-top: 12px;
        height: 45px;
    }

    .wish-active i {
        color: grey;
        font-size: 36px;
        padding-top: 12px;
    }

    .font-18 {
        font-size: 20px !important;
    }

    .font-14 {
        font-size: 16px !important;
    }

    .font-11 {
        font-size: 14px !important;
    }
.best-match .pl-5 {
	padding-left: .3rem!important;
}
    /*FOOTER*/
    .footer-block h6 {
        font-size: 20px;
    }

    .footer-block ul li a {
        font-size: 18px;
    }

    .new-category-page img {
        width: 100%;
        height: 400px;
    }

    /*SHOPPING CART*/
    .official-store p {
        font-size: 14px;
    }

    .coupons-toggle-a {
        font-size: 14px;
    }

    .shop-cart-details h3 {
        font-size: 16px;
    }

    .sh-cart-plus-min .input-group-new {
        font-size: 14px;
        padding: 0px 6px;
        width: 155px;
        height: 30px;
    }

    .detail-quantity-input {
        width: 80px;
        font-size: 18px;
    }

    .input-span-line {
        padding-top: 7px;
    }

    .ipad-pl-0 {
        padding-left: 15px !important;
    }

    .order-summary .list-group-item {
        font-size: 16px;
    }

    .order-summary .badge {
        font-size: 16px;
    }

    .sponsore-header {
        font-size: 18px;
    }

    .sponsore-product h2 {
        font-size: 16px;
    }

    /*DETAIL PRODUCT*/
    .showhope {
        height: 400px;
    }

    .small-img {}

    .small-container {
        width: 430px;
        height: 102px;
    }

    .small-container .show-small-img {
        width: 100px;
        height: 100px;
    }

    .detail-product-right {
        padding-top: 60PX;
    }

    .detail-product-right h2 {
        font-size: 22px;
    }

    .sidebar-flex-block p,
    .detail-sec-sidebar p {
        font-size: 16px;
        padding-top: 4px;
    }

    .detail-overview p {
        font-size: 17px;
    }

    .detail-overview .nav-link {
        font-size: 17px;
    }

    .table td,
    .table th {
        padding: 0.25rem;
        font-size: 16px;
    }

    .detail-overview h3 {
        font-size: 20px;
        margin: 20px 0 0px 0 !important;
    }

    /*PRODUCT*/
    .ipad-filter {
        text-align: right;
    }

    .detail-add-cart-btn {
        font-size: 16px;
    }

    .short-select-view p {
        font-size: 14px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: 32px;
    }

    .short-select-view .form-control {
        font-size: 14px;
    }

    .product-view .fa-qrcode,
    .product-view .fa-list {
        font-size: 18px;
    }

    .win-three-img-left img {
        height: 340px;
    }

    .win-three-img-right img {
        height: 168px;
    }

    .campaign-sort-by .pro-extra-padd {
        font-size: 16px;
    }

    .campaign-sort-by .form-control {
        font-size: 14px;
    }
    .best-match {
    font-size: 14px;
}

}






@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1400px) {
.sidebar-fixed-top {
    width: 258px;
}
}