@media (min-width: 992px) and (max-width: 3000px) {
    .account-flex:hover .account {
        display: block;

    }

    .account-flex-two:hover .account-two {
        display: block;

    }
}


@media (min-width: 1400px) {
    .sidebar-fixed-top {
        width: 258px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {

    .menu .nav-link,
    .category .nav-link {
        font-size: 11px !important;
    }

    .slider .carousel-item img {
        height: 311px;
    }
}



@media (max-width: 992px) {
    .menu {
        display: none;
    }
    .seller-body .product-body-sidebar {
    padding: 15px 0 0 0;
}
    .store-page-btn {
        display: block;
    }
    .product-body-sidebar-scroll {
        height: auto;
        padding-top: 54px !important;
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .new-mobile-none {
        display: none;
    }

    .new-top {
        padding-top: 10px;
    }

    .padd-right-15 {
        padding-right: 15px !important;
    }

    .padd-left-15 {
        padding-left: 15px !important;
    }

    .fixed-top-header {
        background: #E7EEE6;
        height: 40px;
        z-index: 99999999999 !important;
    }

    .top-header-left h2 {
        font-size: 14px;
    }

    .home-see-more a {
        font-size: 14px;
    }

    .account-search {
        background: #E7EEE6;
        text-align: left;
        position: absolute;
        border-radius: 3px;
        box-shadow: 0 0 1px 1px #96959259;
        -webkit-box-shadow: 0 0 1px 1px #96959259;
        display: none;
        z-index: 99999999 !important;
        right: 0;
        width: 100vw;
        padding: 20px;
    }


    .top-header-middle {
        padding: 13px 0;
    }

    .top-header-middle .input-group-text {
        padding: 0rem .75rem;
    }

    .ipad-login-reg button,
    .ipad-login-reg a {
        background: transparent;
        color: #4B4B4D !important;
    }

    .wish-cart button {
        padding: 8px 6px;
        font-size: 14px;
    }

    .sp-size {
        padding: 2px 4px 1px 2px;
    }

    .mobile-none {
        display: none;
    }

    .desktop-none {
        display: block;
    }



    .category-name-block-mobile {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .seller-body .related-product-item {
        padding: 0 20px 4px 20px;
    }



    .mob-ipad-padd {
        padding-right: .25rem !important;
    }

    .padd-right-0 {
        padding-right: 15px;
    }

    /*MENU*/
    .nav-absolute {
        width: 100vw;
        left: 0;
        height: 100vh;
        overflow-y: auto;

    }

    .menu .dropdown-menu-position {
        left: 0;
        top: 40px;
        width: 100%;
        margin-bottom: 50px;
        height: auto;
        border-bottom: 1px solid gray !important;
        border-left: 1px solid gray !important;
        border-right: 1px solid gray !important;
    }

    .category {
        display: none;
    }

    .carousel-item img {
        max-width: 100%;
    }

    .category-slider .dropdown-menu-position {
        top: 5px;
        left: 212px;
        background: red;
    }

    .category-slider .dropdown-menu-position {

        width: 240px;
    }

    /*WOMEN COLLECTION*/
    .women-collection-header,
    .mens-collection-header,
    .kids-collection-header,
    .toppic-collection-header {
        height: 100px;
    }

    .collections-all-header,
    .center-item {
        position: relative;
        text-align: center;
    }

    .collections-all-header h2 {
        font-size: 22px;
    }

    .women-see-icon {
        font-size: 12px;

    }

    .main-collections-body {
        padding: 0px 10px 0px 10px;
    }


    .quick-view {
        z-index: 999 !important;
        padding: 6px 0;
        font-size: 12px;
    }

    .main-collections-block:hover .quick-view {
        display: block;
    }

    .main-collections-block:active .quick-view {
        display: block;
    }

    .main-collections-block:focus .quick-view {
        display: block;
    }

    .new-ole .quick-view {
        display: block !important;
    }
    .new-ole .n-add-to-cart-n {
        display: block !important;
    }
    
    .new-ole .campaign-quick-overlay {
        display: block !important;
    }
    
    .shopping-card-flex {
        width: 247px;
    }

    .sponsore-product .pl-1 {
        padding-left: 15px !important;
    }

    .pr-n-2 {
        padding-right: 15px !important;
    }

    .similar-block {
        padding-top: 10px;
    }

    .footer-block h6 {
        font-size: 16px;
    }

    .padd-20 {
        padding: 60px 0px;
    }

    .footer-block ul li a {
        font-size: 14px;
    }

    /*CATEGORIES SLIDER*/
    .new-category-page img {
        width: 100%;
        height: 220px;
    }

    .new-category-arrivals-header {
        padding-top: 20px;
    }

    .categories-pages-title-color {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .img-overlay-history {
        padding: 4px;
    }

    .win-a {
        font-size: 10px;
        padding: 2px 5px;
        bottom: 2px;
    }

    /*SHOPPING CART*/
    .shopping-cart {
        margin-top: 10px;
    }

    .shopping-cart-block-header h1 {
        font-size: 18px;
    }

    .official-store h6 {
        text-align: center !important;
    }

    .shop-cart-history img {
        width: 100% !important;
    }

    .shop-cart-details {
        padding-top: 10px;
    }

    .shop-cart-details .pr-5 {
        padding-right: 0 !important;
    }

    .get-coupons-toggle-body {
        width: 330px;
    }

    .get-coupons-toggle .dropdown-menu {
        left: -188px;
    }

    .shop-cart-details .wish-delete {
        padding-right: 0px !important;
    }

    /*Product Details*/

    

    .detail-product-right h2 {
        padding-top: 35px;
    }

    .sidebar-flex-block-icon .fa-ribbon {
        font-size: 20px;
        padding: 5px 5px 0 0;
        color: gray;
    }

    .sidebar-flex-block-icon .fa-dollar-sign {
        font-size: 24px;
        padding: 3px 3px 0 2px;
        color: gray;
    }

    .detail-overview-sidebar-img .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .detail-overview-sidebar-img .col-6,
    .detail-overview-sidebar-img .col-sm-6,
    .detail-overview-sidebar-img .col-md-4 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .sipping-modal-res h5 {
        font-size: 16px;
    }

    .sipping-modal-res .padd-left-10 {
        padding-top: 2px;
        padding-bottom: 10px;
    }

    .sipping-modal-res img {
        width: 30px;
    }



    .detail-quantity-input {
        width: 44px;
        font-size: 16px;
    }

    .quantity-right-plus,
    .quantity-right-plus-shopcart-one,
    .quantity-right-plus-shopcart-two,
    .quantity-right-plus-shopcart-three {
        font-size: 12px;
        padding-left: 6px;
    }

    .quantity-left-minus,
    .quantity-left-minus-one,
    .quantity-left-minus-shopcart-two,
    .quantity-left-minus-shopcart-three {
        font-size: 12px;
        padding-right: 6px;
    }

    .input-group-new {
        padding: 0;
    }

    .table td,
    .table th {
        padding: 0.25rem;
        font-size: 12px;
    }

    .input-span-line {
        line-height: 12px;
    }

    .customer-review-details-header {
        padding: 7px 0px;
    }

    .new-width-two.pl-3,
    .new-width-two.px-3 {
        padding-left: 0rem !important;
    }

    .new-width-two {
        margin-top: 1px;
    }

    .detail-short-right {
        margin-right: 5px;
    }

    .detail-overview .nav-link {
        padding: 0 18px 0 0;
    }

    .customer-details-review span {
        font-size: 14px;
    }

    .new-tab-pane h1 {
        font-size: 22px;
    }

    .new-tab-paddd.pt-3,
    .new-tab-paddd.py-3 {
        padding-top: .6rem !important;
    }

    .new-tab-paddd.col-5 {
        padding-right: 10px;
    }

    /*Product*/
    /*Filter Product*/
    .product-body-container {
        padding: 0px 10px 20px 10px;
    }

    .product-body-sidebar-scroll {
        overflow: hidden;
    }

    .filter-fixed-top {
        position: fixed;
        top: 36px;
        right: 12px;
        padding-top: 14px;
        left: 10px;
        z-index: 999999999;
        background: #E7EEE6;
    }

    .mobile-filter-header {
        margin-right: -15px;
        margin-left: -15px;
        padding: 0px 15px;
        border-top: 1px solid #d8d8d8;
        box-shadow: 0 2px 4px 0 #bbbbbb;
        -webkit-box-shadow: 0 2px 4px 0 #bbbbbb;
    }
    .wish-border .mobile-filter-header {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
        border-top: 0 !important;
        box-shadow: 0 0 0 0 !important;
        -webkit-box-shadow: 0 0 0 0 !important;
    }
.seller-differ-body .mobile-filter-header {
    padding: 6px 15px 15px 15px;
}
    .new-best-match-toggle {
    left: 0;
    right: 0;
    top: 38px;
    z-index: 9999 !important;
    margin-left: 8px;
    }
   .campaign-sort-by .new-best-match-toggle {
  background: transparent;
    }
.wish-border .new-best-match-toggle{
  background: transparent;
}
    .new-best-match-toggle li a {
        padding: 8px 0 8px 11px;
    }

    .mobile-filter-header .form-group {
        margin-bottom: 0;
    }

    .all-icon-filter {
        border-right: 1px solid #d8d8d8;
        padding-right: 10px;
        display: block;
        padding: 10px 10px 10px 0
    }

    .mobile-filter-header .product-view {
        padding-left: 10px;
        padding-top: 12px
    }

    .filter-btn {
        font-weight: 600;
        color: #495057;
        background: transparent;
    }

    .filter-mobile-heading-none {
        display: none;
    }

    .flex-select-view {
        justify-content: flex-end;
    }

    .filter-sort,
    .filter-price {
        display: none;
    }

    .wish-border .mobile-filter-header {
    padding: 10px 15px;
    display: block;
}

    .mobile-filter-header .short-select-view .fa-sort {
        font-size: 18px;
        padding-top: 4px;
        padding-right: 4px;
    }

    .best-match .pl-5 {
        padding-left: .3rem !important;
    }

    .best-match {
        padding: 7px 15px;
        font-size: 12px;
        font-weight: 600;
        color: #495057 !important;
        margin-left: 20px;
    }

    .product-normal-view,
    .product-short-view {
        padding-top: 20px;
    }

    .mobile-filter {
        display: none;
    }

    .filter-product-heading-extra {
        display: block;
        margin-left: -20px;
        margin-right: -20px;
        position: relative;
    }

    .filter-pro-fix-ex {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #d0cccc;
        z-index: 9999999999999999 !important;
    }

    .filter-product-heading-extra h1 {
        font-size: 18px;
        padding: 11px 0 0 10px;
        color: #212529;
    }

    .filter-close-btn {
        background: transparent;
        font-size: 25px;
        color: #212529;
        padding: 4px 30px 0 0;
    }

    .filter-bottom-div {
        display: block;
        height: 50px;
    }

    .filter-bottom-div .fixed-bottom {
        background: gray;
        padding: 10px 30px;
    }

    .filter-add-btn {
        background: #5CC19F;
        color: #fff;
        font-weight: 600;
        font-size: 14px !important;
        padding: 6px 16px;
        border-radius: 3px;
    }

    .filter-close-bottom {
        background: #797272;
        color: #fff;
        font-weight: 600;
        font-size: 14px !important;
        padding: 6px 16px;
        border-radius: 3px;
    }

    .filter-active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        z-index: 9999999999 !important;
        overflow: auto;
    }

    . .product-view.pro-extra-padd {
        padding-right: 16px;
    }

    /*Campaign*/
    .campaign-select-coupon {
        width: 322px;
    }

    .detail-similar-product {
        margin: 0;
    }

    .detail-overview .col-md-3.pr-1 {
        margin-right: 15px;

    }

    .detail-overview-sidebar-img {
        margin-bottom: 20px;
    }

    .detail-overview-sidebar-img img {
        width: 100%;
    }

    .product-name-block {
        margin-bottom: 10px;
    }

    .seller-banner-body-middle {
        padding: 30px 0px 10px 0px;
    }

    .seller-favorite {
        text-align: center;
    }

    .seller-favorite p {
        padding-top: 20px;
    }

    .seller-banner-body-bottom {
        padding-top: 30px;
    }

    .seller-banner-block {
        margin-bottom: 10px;
    }

    .payment-method .col-md-6:last-child {
        padding-top: 20px;
    }

    .slick-prev {
        left: -18px;
        z-index: 999999 !important;
    }

    .slick-next {
        right: -18px;
        z-index: 999999 !important;
    }

    .product-normal-view .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .product-normal-view .col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .campaign-coupon-date h6 {
        padding-left: 10px;
    }

    .campaign-coupon-date p {
        font-size: 12px;
        padding-left: 10px;
    }

    .seller-banner-body-middle-left {
        padding-left: 10px;
    }

    .win-deal-three-item {
        margin-top: 30px;
    }

    .product-body-container {
        height: auto;
    }

    .filter-bottom-div {
        display: block;
    }

    .product-body-main,
    .product-short-view {
        height: auto;
    }

    .product-body-main .new-pagination {
        position: static;
    }

    .product-short-view .new-pagination {
        position: static;
    }

    .category-name-block-mobile {
        width: auto;
    }

    .why-choose-us-main {
        display: none;
    }

    .new-store-i {
        display: inherit;
    }

    .store-page-h6 {
        display: none;
    }

    #headMain {
        padding-left: 5px !important;
    }

    .headTwoStore {
        display: block;
        padding-left: 5px;
    }

    .new-again {
        font-weight: 600;
        font-size: 14px;
    }

    .new-border-change {
        border-bottom: 1px solid;
    }

    .detail-product-right .detail-buy-btn {
        display: none;
    }
.wrap-modal-slider .detail-add-cart-btn {
        display: block !important;
    }
   .wrap-modal-slider .input-span-line {
    display: block;
}
.wrap-modal-slider .detail-add-cart-btn {
    padding: 7px 16px !important;
    }
    .detail-product-right .detail-add-cart-btn {
        display: none;
    }

    .love-none {
        display: none;
    }

    .product-body-sidebar {
        padding-top: 10px;
    }

    .store-page-btn {
        display: block;
    }

    .seller-body .related-product,
    .seller-block-pages {
        background: transparent;
        border-radius: 4px;
    }

    .summary-mobile-none {
        display: none;
    }
    .n-store-pages-desktop{ 
display: none;
    }
    .new-store-pages-mobile {
    display: block;
}
}


/*MIN-768 AND MAX-992*/

@media (min-width: 768px) and (max-width: 992px) {
   
    .all-five-row.row .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
    .top-header {
        height: 65px;
    }

    .ipad-padd-n {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .ipad-mobile-none {
        display: none;
    }

    .mobile-none {
        display: block;
    }

    .desktop-none {
        display: none;
    }

    .top-header-left {
        padding-top: 18px;
    }

    .top-header-left h2 {
        font-size: 14px;
    }

    .top-header-middle .input-group-text {
        padding: .375rem .75rem;
        font-size: 1.2rem;
    }

    .ipad-login-reg.col-sm-6 {
        padding: 0 !important;
    }

    .top-header-right {}

    .top-header-right a {
        font-size: 10px;
    }

    .account-search {
        width: 95vw;
        top: 40px;
    }

    .collections-all-header h2 {
        font-size: 22px;
    }

    .win-deal-body .card-title,
    .main-collections-block .card-title {
        font-size: 14px;
    }

    .sale-left {
        font-size: 14px;
        width: 42px;
        padding-top: 12px;
        height: 45px;
    }

    .wish-active i {
        color: grey;
        font-size: 36px;
        padding-top: 12px;
    }

    .font-18 {
        font-size: 20px !important;
    }

    .font-14 {
        font-size: 16px !important;
    }

    .font-11 {
        font-size: 14px !important;
    }

    .best-match .pl-5 {
        padding-left: .3rem !important;
    }

    /*FOOTER*/
    .footer-block h6 {
        font-size: 20px;
    }

    .footer-block ul li a {
        font-size: 18px;
    }

    .new-category-page img {
        width: 100%;
        height: 400px;
    }

    /*SHOPPING CART*/
    .official-store p {
        font-size: 14px;
    }

    .coupons-toggle-a {
        font-size: 14px;
    }

    .shop-cart-details h3 {
        font-size: 16px;
    }

    .sh-cart-plus-min .input-group-new {
        font-size: 14px;
        padding: 0px 6px;
        width: 155px;
        height: 30px;
    }

    .detail-quantity-input {}

    .input-span-line {
        padding-top: 7px;
    }

    .ipad-pl-0 {
        padding-left: 15px !important;
    }

    .order-summary .list-group-item {
        font-size: 16px;
    }

    .order-summary .badge {
        font-size: 16px;
    }

    .sponsore-header {
        font-size: 18px;
    }

    .sponsore-product h2 {
        font-size: 16px;
    }

    /*DETAIL PRODUCT*/
    .showhope {
        height: 445px;
    }

    .detail-product-right h2 {
        font-size: 22px;
    }

    .sidebar-flex-block p,
    .detail-sec-sidebar p {
        font-size: 16px;
        padding-top: 4px;
    }

    .detail-overview p {
        font-size: 17px;
    }

    .detail-overview .nav-link {
        font-size: 17px;
    }

    .table td,
    .table th {
        padding: 0.25rem;
        font-size: 16px;
    }

    .detail-overview h3 {
        font-size: 20px;
        margin: 20px 0 0px 0 !important;
    }

    /*PRODUCT*/
    .ipad-filter {
        text-align: right;
    }

    .detail-add-cart-btn {
        font-size: 16px;
    }

    .short-select-view p {
        font-size: 14px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: 32px;
    }

    .short-select-view .form-control {
        font-size: 14px;
    }

    .product-view .fa-qrcode,
    .product-view .fa-list {
        font-size: 18px;
    }

    .product-name-block {
        height: 225px;
        width: 225px;
    }

    .win-three-img-left img {
        height: 340px;
    }

    .win-three-img-right img {
        height: 168px;
    }

    .campaign-sort-by .pro-extra-padd {
        font-size: 16px;
    }

    .campaign-sort-by .form-control {
        font-size: 14px;
    }

    .best-match {
        font-size: 14px;
    }

    .product-name-block-padd img {
        height: 144px;
    }
    

}



@media (max-width: 767px) {
.image-show,.image-showtwo, .image-showthree {
    width: 180px;
}
    #main-image img, #main-imagetwo img, #main-imagethree img {
    height: 300px;
}

    .seller-banner-body {
    margin-left: -10px;
    margin-right: -10px;
}
    .close-n:before, .close-n:after {
    height: 30px;
    width: 5px;
}
    .menu {
        height: 35px;
    }
    .menu-hover {
    padding-top: 3px;
}
    .menu.fixed-top .navbar {
    height: 40px;
}
     .campaign-banner {
    height: 190px;
}
.campaign-banner-block {
    padding-top: 46px;
}
.campaign-sort-by .new-best-match-toggle {
    left: -61px;
    top: 39px;
    font-size: 14px;
    }
.wish-border .new-best-match-toggle {
   left: 151px;
    right: 0;
    top: 28px;
    text-align: left;
    font-size: 14px;
    }
 .campaign-sort-by  .new-best-match-toggle{
   left: 27px;
    top: 39px;
    text-align: left;
    font-size: 14px;
    }
    .top-header-left h2 {
        padding-top: 6px;
    }

    .top-header-left .pl-3,
    .px-3 {
        padding-left: 0.3rem !important;
    }

    .m-pr-0 {
        padding-right: 0;
    }

    .mobile-n-ipad {
        display: block;
    }

    .mobile-n-ipad-none {
        display: none;
    }

    .top-header {
        height: 40px;
    }

    .top-header-left {
        padding-top: 0px;
    }
    .top-category-header-left {
        padding-top: 7px;
    }
    .top-category-header-left a {
        font-size: 14px;
    }

    .top-header-right {
        padding-top: 10px;
    }

    .top-header-right .fa-user:hover,
    .top-header-right .fa-comment-dots:hover {
        color: #4B4B4D;
    }


    .top-header-right .fa-search,
    .top-header-right .fa-shopping-cart {
        font-size: 14px;
    }

    .top-header-right .fa-comment-dots,
    .top-header-right .fa-user {
        font-size: 16px;
    }

    .account-search {
        background: #DBFFF4;
        text-align: left;
        position: absolute;
        border-radius: 3px;
        box-shadow: 0 0 1px 1px #96959259;
        -webkit-box-shadow: 0 0 1px 1px #96959259;
        display: none;
        z-index: 9999999999 !important;
        right: 0;
        width: 100vw;
        padding: 20px;
    }

    .account-two {
        text-align: center;
        right: 0px;
    }

    .only-mob-no,
    .mobile-new-none {
        display: none !important;
    }

    .collections,
    .collections-block-padd {
        padding-top: 10px;
    }
.detail-product-details .font-14 {
        font-size: 12px !important;
    }
    .pages-header {
        display: none;
    }

    .desktop-new-none {
        display: block !important;
    }

    .top-header-middle-mobile {
        width: 100%;
    }

    .fixed-top .new-mobile-border {
        border-bottom: 1px solid #e0e0e0;
    }

    .navbar-toggler span {
        font-size: 12px;
    }

    .bottom-footer-for-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999999999 !important;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px 0px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px 0px;
    }

    .bottom-footer-mobile {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }


    .cart-btn-50 {
        width: 50%;
        background: #e62e04;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .cart-btn-50:hover,
    .cart-btn-50:focus,
    .cart-btn-50:active {
        background: #f9380c;
    }

    .buy-btn-50 {
        width: 50%;
        background: #5CC19F;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .buy-btn-50:hover,
    .buy-btn-50:focus,
    .buy-btn-50:active {
        background: #71ecc3;
    }

    .cart-btn-50 button,
    .buy-btn-50 button {
        background: transparent;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        padding: 12px 16px;
        border-radius: 3px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .new-peara {
        background: transparent !important;
        border: 1px solid transparent !important;
    }

    .new-peara button {
        color: #000 !important;
    }

    .new-buy-pad-sho {
        padding-top: 18px !important;
    }

    .bottom-chat-footer img {
        width: 200px;
        padding: 40px 0 60px 0;
    }

    .bottom-chat-flex:hover .bottom-chat-footer {
        display: block;

    }

    .bottom-chat-flex .account-form {
        text-align: center;
    }

    .bottom-chat-footer {
        background: #DBFFF4;
        text-align: left;
        position: absolute;
        border-radius: 3px;
        box-shadow: 0 0 1px 1px #96959259;
       -webkit-box-shadow: 0 0 1px 1px #96959259;
        display: none;
        z-index: 999999 !important;
        bottom: 47px;
        right: 0;
        width: 100vw;
        height: 84vh;
    }

    .mobile-order-summary {
        text-align: left;
        position: absolute;
        display: none;
        z-index: 999999 !important;
        bottom: 54px;
        right: 0;
        width: 100vw;
        height: 284px;
        border-top: 1px solid #80808094;
    }

    .mobile-order-summary h2,
    .mobile-order-summary .list-group {
        padding: 0 20px;
    }

    .bottom-chat-footer h2 {
        font-size: 18px;
        background: #EBE7DE;
        padding: 20px 0;
        text-align: center;
    }

    .bottom-footer-mobile a {
        color: #212529;
        font-weight: 700;
        text-transform: uppercase;
    }

    .bottom-chat-flex .fa-comment-dots {
        font-size: 1.1rem;
    }

    .account-middle-form {
        padding: 20px 40px;
    }

    .ipad-pl-0 {
        padding-left: 15px !important;
    }

    .sidebar-fixed-top {
        height: 100vh !important;
    }

    .filter-btn {
        font-size: 12px;
        background: transparent;
    }

    .filter-fixed-top {
        top: 38px !important;
    }

    .ipad-mobile-none {
        display: none;
    }

    .slider .carousel-item img {
        height: 200px;
    }

    .short-view-middle {
        float: none;
    }

    .short-view-right {
        float: none;
        padding-top: 0px;
    }

    .feature-mobile-none {
        display: none;
    }

    .short-view-middle p {
        margin-bottom: 0 !important;
    }

    .product-short-view-block h2 {
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }

    .short-view-middle .fa-star {
        font-size: 12px !important;
    }

    .short-view-right .price-big {
        font-size: 18px !important;
    }

    .short-view-right .price-small span {
        font-size: 14px !important;
    }

    .detail-the-img {
        display: none;
    }

    .detail-product-main-block {
        padding-top: 10px;
    }

    .product-name-block {
        height: 187px;
        width: 100%;
    }

    .input-span-line {
        display: none;
    }

    .n-check-padd {
        padding-left: 8px !important;
        padding-top: 76px;
    }

    .shop-cart-history input[type='checkbox'] {}

    .price-big {
        font-size: 18px !important;
    }

    .price-small span {
        font-size: 14px !important;
    }

    .quantity-right-plus-shopcart-one,
    .quantity-right-plus-shopcart-two,
    .quantity-right-plus-shopcart-three {
        font-size: 12px;
        padding-left: 10px !important;
    }

    .quantity-left-minus-one,
    .quantity-left-minus-shopcart-two,
    .quantity-left-minus-shopcart-three {
        font-size: 12px;
        padding-right: 10px !important;
    }

    .detail-fo-bo-48 {
        bottom: 47px !important;
    }

    .order-summary button {
        background: #00B29C !important;
        border: 1px solid #00B29C !important;

    }

    .order-summary button:hover,
    .order-summary button:focus,
    .order-summary button:active {
        background: #11e2c8 !important;
        border: 1px solid #11e2c8 !important;
    }

    .get-coupons-toggle {
        right: 0px;
    }
    .ne-co-font {
        font-size: 14px;
        font-weight: 600;
    }
    .get-coupons-toggle-body {
    height: 225px;
}

body.modal-open {
    overflow: visible;
}

    .shop-select-all {
        left: 8px;
    }

    .mew-row {
        margin-right: -10px;
        margin-left: -10px;
    }

    .sponsore-product .col-6 {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }

    .font-s-13 {
        font-size: 14px !important;
    }

    .padd-bo-me {
        margin-bottom: 6px !important;
    }

    .get-block-right {
        height: 51px
    }

    .detail-product-right .font-11 {
        font-size: 13px !important;
    }
    .categories-pages-title-color {
    padding-bottom: 0px !important;
}
.categories-name {
    padding: 0px 0 20px 0 !important;
}
.new-category-arrivals-header .mb-2, .my-2 {
    margin-bottom: 0 !important;
}

.new-mb-5 {
    margin-bottom: 10px !important;
}
.all-flex {
    padding-bottom: 5px !important;
}
.padd-20 {
    padding: 20px 0 0 0px !important;
}
.last-footer {
    padding: 20px 0 40px 0px !important;
}
.mobile-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow: hidden;
}
.container-mobile-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
    overflow: hidden;
}



/*NEW*/
.campaign-sort-by.new-sort-nr {
    width: 215px;
}
.wish-border .mobile-filter-header {
    float: none;
    text-align: right;
}
.seller-differ-body .new-best-match-toggle, .product-body .new-best-match-toggle {
    margin-left: -25px !important;
    }
.customer-review-details-header .new-best-match-toggle {
    left: -33px;
    top: 32px;
}
.best-match {
        margin-left: -16px !important;
    }
.pages-menu {
    display: none;
}
.menu.fixed-top {
    top: 40px;
}
.nav-absolute {
    top: 30px;
}
.wish-border .new-pagination {
    padding: 20px 30px 0px 0px !important;
}
.mo-fo-8.font-11 {
    font-size: 8px !important;
}
.wish-border .product-short-view-block {
    margin-left: -10px;
    margin-right: -10px;
    padding: 4px 0px;
    border: 0;
    }
.wish-border .new-top {
    padding-top: 0px !important;
}
.wish-border {
    border: 0;
    margin-bottom: 10px;
    border-radius: 0;
}
.wish-border .mobile-filter-header {
    padding: 10px 15px;
    }
#show-img {
    height: 370px !important;
}
.small-img {
    margin-top: -55px;
}
.quick-view-body .small-img {
    margin-top: 18px;
}

.des-padd-top {
    padding-top: 10px !important;
    text-align: left;
}
.product-short-view-block {
    padding: 0px 5px 10px 5px;
}
.pro-sort-padd-top {
    padding-top: 10px !important;
}
.n-star-display {
    top: 33px;
    left: -171px;
}
   .n-star-display .arrow-sign-new:after {
    left: 50%;
}
#quick-view {
    padding-left: 0 !important;
}
#quick-view .modal-content {
    background: rgba(68,70,69,0.65);
    border:0;
    border-radius: 0;

    }
#quick-view .modal-dialog {
    margin: 0 auto;
    overflow: initial;
}
#quick-view::-webkit-scrollbar {
  display: none;
}

#quick-view {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.quick-view-body::-webkit-scrollbar {
  display: none;
}
.quick-view-body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.quick-view-body {
    background: #fff;
    box-shadow: 0px 0px 8px 2px #5a5959;
    -webkit-box-shadow: 0px 0px 8px 2px #5a5959;
    border-radius: 4px;
}
.filter-sort-dropdown {
    width: 170px;
    margin-left: 26px;
}
.small-img img {
    width: 80px;
    }
.win-deal {
    margin-top: 0 !important;
}
.win-deal-three-block {
    padding: 0px 0 0px 0 !important;
}
.win-deal-three-item {
    margin-top: 10px !important;
}
.quick-view-body {
    margin: 17px 15px 24px 15px;
    height: 95vh;
    overflow-y: auto;
}
.win-deal-page-body {
    padding: 10px 10px !important;
}
.new-pagination {
    padding: 10px 30px 10px 0px !important;
}
.sponsore-header {
    margin-left: -8px !important;
}
.meow {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.sponsore-product {
    padding: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.shopping-cart-sidebar {
    padding-top: 0px !important;
}
.payment-method {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.shopping-cart .pr-new-12 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.new-font-o {
    font-size: 14px !important;
}
.product-normal-view, .product-short-view {
    padding-top: 0 !important;
}
.product-body-container {
    margin-bottom: 20px !important;
}
.product-body-main .new-pagination {
    padding: 10px 30px 0px 0px !important;
}
.all-similar-product {
    padding: 0 0px !important;
}
.best-match {
    margin-left: 0 !important;
}
.last-home-see {
    padding-bottom: 0 !important;
}
.detail-overview .nav {
    padding: 10px 10px 4px 10px !important;
}
.new-tab-pane {
    padding: 6px 10px !important;
}
.detail-similar-product {
    padding: 10px 0 !important;
}
.detail-similar-product .pt-3{
    padding:  0 !important;
}
.detail-similar-product.mb-5 {
    margin-bottom: 10px !important;
}
.detail-similar-product h1 {
    font-size: 18px !important;
}
.new-category-arrivals {
    padding: 0 10px !important;
}
.campaign-body-products h1 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    text-align: left !important;
    font-size: 18px !important;
}
.campaign-body {
    margin-bottom: 10px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.campaign-body-products.detail-similar-product {
    padding: 10px 20px !important;
}
.campaign-view-more {
    padding: 10px 0 10px 0 !important;
}
.campaign-view-more button {
    font-size: 12px !important;
    padding: 2px 10px !important;
}
.mobile-showhope {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999 !important;
    width: 100vw;
    height: 100vh;
    background: gray;
    padding-top: 95px;
}
.mobile-showhope img {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: 0 !important;
    width: 100%;
    height: 70vh;
}
.mobile-showhope-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    background: transparent;
    color: #fff;
    font-size: 30px;
}
.all-five-row.row .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.all-five-row.row .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.all-ovarlay-new {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    background: #808080d1 !important;
    display: none;
    z-index: 999;
}

}


@media (max-width: 358px) {
    .wish-border .new-best-match-toggle {
   left: 96px;
    right: 0;
    top: 27px;
    text-align: left;
    font-size: 14px;
    }
  
    .top-header-left-new {
    padding-top: 0px !important;
}
.top-category-header-left a {
    font-size: 12px !important;
}
    .categories-name-block-padd img {
        width: 95PX !important;
        height: 114px !important;
    }

    .seller-banner-block .pr-2 {
        padding-right: 0 !important;
    }

    .seller-banner-block-right {
        padding-left: 4px !important;
    }

    .seller-banner-block img {
        height: 100% !important;
    }

    .new-pagination .page-link {
        padding: .2rem .6rem !important;
        font-size: 12px !important;
    }

    .shopping-cart-block-header p {
        font-size: 11px !important;
    }

    .coupons-toggle-a {
        font-size: 12px !important;
    }

    .get-coupons-toggle .dropdown-menu {
        left: -152px !important;
    }

    .get-coupons-toggle-body {
        width: 280px !important;
    }

    .campaign-select-coupon {
        width: 279px !important;
    }
    .campaign-coupon-date h6 {
        padding-left: 15px !important;
    }

    .campaign-coupon-date p {
        font-size: 10px !important;
        padding-left: 15px !important;
    }

    .account-middle-form {
        padding: 20px 10px !important;
    }

    .ipad-pl-0 {
        padding-left: 15px !important;
    }

    .short-select-view p {
        font-size: 10px;
    }

    .short-select-view .form-control {
        font-size: 11px;
    }

    .filter-close-btn {
        padding: 4px 24px 0 0;
    }

    .filter-close-bottom {
        font-size: 12px !important;
        padding: 6px 8px;
    }

    .filter-add-btn {
        padding: 6px 8px;
    }

    .sidebar-fixed-top {
        height: 100vh !important;
    }
    .new-best-match-toggle li a {
        padding: 8px 0 8px 16px !important;
    }

    .product-name-block {
        height: 142px !important;
    }

    .product-name-block-padd img {
        height: 86px;
    }

    .customer-details-review .new-opa {
        font-size: 14px;
    }

    .customer-details-review span i {
        font-size: 10px !important;
    }

    .customer-review-details-header .form-control {
        padding: .375rem 0;
    }

    .customer-review-details-header .new-all-star-border.font-14,
    .customer-review-details-header .overview-photo-btn .font-14,
    .detail-short-right .font-14 {
        font-size: 12px !important;
    }

    .quantity-right-plus,
    .quantity-right-plus-shopcart-one,
    .quantity-right-plus-shopcart-two,
    .quantity-right-plus-shopcart-three {
        font-size: 12px;
        padding-left: 1px !important;
    }

    .quantity-left-minus,
    .quantity-left-minus-one,
    .quantity-left-minus-shopcart-two,
    .quantity-left-minus-shopcart-three {
        font-size: 12px;
        padding-right: 1px !important;
    }
    .mob-f-11.font-14 {
        font-size: 11px !important;
    }
    .pal-2 {
    padding-top: 0px;
}
    .payment-method-ul li {
        padding: 2px 0px !important;
    }
    
    .detail-product-right h2 {
    padding-top: 15px !important;
}
.mobile-showhope {
    padding-top: 85px !important;
}

.slick-track .per-offer {
   padding: 3px 3px 2px 3px !important;
    font-size: 8px !important;
}
.quick-view-body {
    margin: 17px 15px 17px 15px !important;
    height: 94vh !important;
}
.w-100 {
    font-size: 10px;
}
.n-star-display {
    left: -134px !important;
    width: 280px;
}
.n-widt-pro {
    font-size: 11px !important;
}
.n-star-display .rated-star-percent {
    font-size: 11px !important;
}
.n-star-display .view-all-star-a {
    font-size: 6px !important;
}
.seller-body .new-best-match-toggle {
    margin-left: 6px !important;
}

}