/*=========
background: #DBFFF4;
text: #e62e04
==========*/

*{
	margin:0;
	padding:0;
}
body {
	font-family: 'MoolBoran', sans-serif !important;
}
html {
   min-height: 100%;
}
p, h1, h2, h3, h4, h5, h6, button, input, span {
    font-family: 'MoolBoran', sans-serif !important;
}
button:hover, button:focus {
	border: 0 ;
	outline: 0;
}

.carousel {
    z-index: 0;
}


/*
===========================
** TOP HEADER
** MENU
** 
===========================
*/

/*TOP HEADER*/
.top-header {
	height: 78px;
	background: #DBFFF4;
}
.top-header-left {
	text-align: left;
	padding-top: 25px;
}
.top-header-left h2 {
	font-size: 20px;
}
.top-header-middle {
	text-align: center;
	padding-top: 17px;
}
.top-header-middle .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bor-30 {
	border-radius: 30px;
}
.input-group-text {
    color: #4B4B4D;
    background-color: transparent;
    border: 1px solid transparent;
}
.top-header-middle button, .top-header-middle button:hover, .top-header-middle button:focus {
	background: transparent;
    border: 0;
    outline: 0;
}
.top-header-middle button .fa-search {
	color: #4B4B4D;
}
.top-header-right {
	text-align: right;
	padding-top: 25px;
}
.top-header-right a {
	font-size: 14px;
	color: #4B4B4D;
}
.top-header-right a:first-child {
	margin-right: 25px;
}

/*
*
* ==========================================
* Menu
* ==========================================
*
*/

.dropdown-submenu {
  position: relative;
}



.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}



.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.dropdown-submenu-position {
    top: -5px;
    left: 80px;
}

.navbar {
	padding: 0 !important;
}
.nav-absolute {
	position: absolute;
    top: 54px;
    background: #183756;
    z-index: 999;
    width: 50%;
    padding: 20px;
}
.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}
.navbar-toggler {
    padding: .25rem 0;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color:transparent;
}
.menu .nav-link, .menu .dropdown-item {
	color: #fff !important;
}
.dropdown-menu {
    background-color: transparent;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
    }
    .pos-static {
    	position: static !important;
    }
.wish-cart button {
padding: 15px;
border-left: 1px solid rgba(0,0,0,.5);
border-top: 0;
border-right: 1px solid rgba(0,0,0,.5);
border-bottom: 0;
color: #4B4B4D;
background: #fff;
}
.no-border {
	border-left: 0 !important;
border-right: 0 !important;
}

.sp-size {
padding: 3px 4px 2px 2px;
border-radius: 6px;
color: #ffffffa1;
font-size: 12px;
}
.sp-#e62e04 {
	background: #FD706E;
}
.sp-red {
    background: #e62e04;
}
.sp-grey {
	background: #ACACAC;
}
.sp-green {
	background: #57C5A0;
}

/*CATEGORY SLIDER*/
.list-group-item {
    position: relative;
    display: block;
    padding: .1rem 1.25rem;
    margin-bottom: -1px;
    background-color: #DBFFF4;
    border: 2px solid rgba(0,0,0,.125);
}

.sub-link {
	color: #e62e04 !important;
}

.category-slider .dropdown-menu-position {
    left: 272px;
    background: #DBFFF4;
    width: 600px;
    z-index: 99999999999999999999999999999 !important;
    top: -34px;
    position: absolute;
}
.padd-right-0 {
	padding-right: 0;
}
.cate-name {
    padding-left: 22px;
    color: #e62e04;
}
.category-a {
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    bottom: 4px;
    right: 10px;
 }
 .cate-sub-pro {
 	background: transparent;
 	border: 0 !important;
 	padding-left: 10px;
 }
 .cate-sub-pro a {
 	color: #000 !important;
 	font-size: 12px !important;
 }
.collapse.new-collapse {
    display: block;
}
.category-slider {
	background: #EAE7DE;
    padding-bottom: 15px;
}
.category-slider a {
	text-transform: uppercase;
	color: #4B4B4D;
	font-size: 12px;
}
.category-slider a:hover {
	color: #e62e04;
}
.arrow-color {
    color: #A6BCB7;
}
.nav-link:hover .arrow-color {
    color: #e62e04;
}
.cate-sub-pro a:hover {
    color: #e62e04 !important;
} 






.carousel-caption {
    right: 44%;
    bottom: 90px;
}
.carousel-caption button {
    border: 1px solid #d2cece;
    padding: 4px 8px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px 0px #e4e1e1;
    cursor: pointer;
}
.carousel-indicators {
    right: 0;
    bottom: -28px;
    background: #DBFFF4;
    padding: 5px 0;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100px;
    height: 6px;
    border-left: 2px solid grey;
    margin-right: 0px;
    margin-left: 0px;
    text-indent: -999px;
    background-color: #FCDEDB;
}
.carousel-indicators li:first-child {
	border-left: 0;
}
.carousel-indicators .active {
    background-color: #86FCD5;
}
.caro-prev-icon i, .caro-next-icon i {
    font-size: 48px;
    color: grey;
}
.caro-prev-icon i:hover, .caro-next-icon i:hover {
    color: #d6d3d3;
}


/*WIN DEAL*/
.win-deal {
	background: #DBFFF4;
	padding: 30px 0;
}
.win-deal-header {
    position: relative;
    color: #fff;
}
.win-a {
	position: absolute;
	font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background: transparent;
    border: 1px solid #7F8784;
    color:#7F8784 !important;
    padding: 3px 5px;
    border-radius: 5px;
}

.all-flex {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.win-deal-body .card-title, .women-collections-block .card-title {
	font-size: 13px;
}
.card-flex {
	max-width: 212px;
}
/*COLLECTION*/
.collections {
background: #EBE7DE;
padding-top: 20px;
}
.win-deal-color {
    color: #333535;
}

.collections-all-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.collections-all-header h2 {
    color: #fff;
}

/*WOMEN COLLECTTIONS*/
.collections-img-position{
   position: relative;
}
.collections-img-position .quick-view {
   position: absolute;
   width: 100%;
   left: 0;
   right: 0;
   bottom: 0;
}

.quick-view {
	background: #5CC19F;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border: 0;
    font-weight: bold;
    display: none;
}
.quick-view:hover {
    background: #DBFFF4;
    color: #e62e04;
} 
.quick-view-img img{
    width: 100%;
    height: 100%;
}
.quick-view-block h2 {
    font-size: 22px;
}
.quick-view-star .fa-star {
    color: #e62e04; 
}

.quick-view-close {
    position: fixed;
    right: 20px;
    top: 15px;
}
.quick-view-color-radio li {
    display: inline-block;
}



.img-header {
	
	position: relative;
}
.women-collection-header {
    position: relative;
	background: url(../images/women-baner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 126px;
}

.women-see-icon {
    position: absolute;
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    right: 27px;
    background: #212020;
    border: 1px solid #212020;
    font-size: 20px;
    color: #fff !important;
    padding: 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}
.women-see-icon:hover {
    background: green;
    border: 2px solid green;
} 
.women-collections-body {
   padding: 40px 0px 60px 0;
   background: #E7EEE6;
}
.card-flex .card-body {
    padding: 16px 8px 20px 8px;
}
.font-22 {
	font-size: 19px;
}
.per-offer {
	background: #e62e04;
    padding: 2px 10px 1px 10px;
    border-radius: 9px;
    color: #fff;
}
.women-collections-block {
	padding: 20px 0px;
}

.women-collections-block:hover .quick-view{
    display: block;
}
.card-img-top {
    position: relative;
}
.img-overlay-history {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.sale-left {
    background: #5CC19F;
    border-radius: 50%;
    padding: 10px 7px;
    color: #fff;
    font-size: 12px;
}
.wish-active i{
    color: red;
    font-size: 25px;
    padding: 8px;
}
.wish-inactive i{
    color: grey;
    font-size: 25px;
    padding: 8px;
}
.women-collections-block .fa-star {
    color: yellow;
}



.women-collections-block .card-body {
    padding: 20px 8px 20px 8px;
}
.font-12 {
	font-size: 12px;
}
.home-see-more {
    padding-top: 20px;
    
}
.home-see-more a {
    color: #212529;
    text-decoration: underline;
    font-size: 18px;
}
.home-see-more a:hover {
    color: green;
}
/*MENS COLLECTION*/
.mens-collection-header {
	background: url(../images/men.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 126px;
}
.kids-collection-header {
	background: url(../images/kid.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 126px;
}
.toppic-collection-header {
	background: #3BC5F3;
    height: 126px;
}
/*FOOTER*/
.footer {
	background: #242424;
}
.padd-20 {
	padding: 60px 80px;
}
.footer-block h6 {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}
.footer-block ul li{
list-style: none;
}
.footer-block ul li a{
color: #fff;
font-size: 16px;
}
.footer-block p {
	color: #fff;
}
.contact-footer {
	
}
.contact-footer li{
display: inline-block;
}
.contact-footer li a i{
	background: #2E2E2E;
}
.contact-footer li a i.fa-facebook-f{
	padding: 10px 12px;
}
.contact-footer li a i.fa-twitter{
	padding: 10px 9px;
}
.contact-footer li a i.fa-google-plus-g{
	padding: 10px 7px;
}
.contact-footer li a i.fa-linkedin-in{
	padding: 10px 10px;
}

.last-footer {
	background: #2E2E2E;
	padding: 20px 0 2px 0px;
}
.last-footer p {
	color: #fff;
}

