/*=========
background: #DBFFF4;
text: #e62e04
grey text: #4B4B4D;
==========*/

*{
	margin:0;
	padding:0;
}
body {
	font-family: 'MoolBoran', sans-serif !important;
    position: relative;
}
html {
   min-height: 100%;
}
p, h1, h2, h3, h4, h5, h6, button, input, span {
    font-family: 'MoolBoran', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
button:hover, button:focus {
	border: 0 ;
	outline: 0;
}
i {
    cursor: pointer;
}

.carousel {
    z-index: 0;
}


/*
===========================
** TOP HEADER
** MENU
** 
===========================
*/

/*TOP HEADER*/
.top-header {
	height: 78px;
	background: #DBFFF4;
}
.top-header-left {
	text-align: left;
	padding-top: 25px;
}
.top-header-left h2 {
	font-size: 20px;
}
.top-header-middle {
	text-align: center;
	padding-top: 17px;
}
.top-header-middle .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bor-30 {
	border-radius: 30px;
}
.input-group-text {
    color: #4B4B4D;
    background-color: transparent;
    border: 1px solid transparent;
}
.top-header-middle button, .top-header-middle button:hover, .top-header-middle button:focus {
	background: transparent;
    border: 0;
    outline: 0;
}
.top-header-middle button .fa-search {
	color: #4B4B4D;
}
.top-header-right {
	text-align: right;
	padding-top: 25px;
}
.top-header-right a {
	font-size: 14px;
	color: #4B4B4D;
}
.top-header-right a:first-child {
	margin-right: 25px;
}

/*
*
* ==========================================
* Menu
* ==========================================
*
*/

.dropdown-submenu {
  position: relative;
}



.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}



.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.dropdown-submenu-position {
    top: -5px;
    left: 80px;
}

.navbar {
	padding: 0 !important;
}
.nav-absolute {
	position: absolute;
    top: 54px;
    background: #183756;
    z-index: 999;
    width: 50%;
    padding: 20px;
}
.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}
.navbar-toggler {
    padding: .25rem 0;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color:transparent;
}
.menu .nav-link, .menu .dropdown-item {
	color: #fff !important;
}
.dropdown-menu {
    background-color: transparent;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
    }
    .pos-static {
    	position: static !important;
    }
.wish-cart button {
padding: 15px;
border-left: 1px solid rgba(0,0,0,.5);
border-top: 0;
border-right: 1px solid rgba(0,0,0,.5);
border-bottom: 0;
color: #4B4B4D;
background: #fff;
}
.no-border {
	border-left: 0 !important;
border-right: 0 !important;
}

.sp-size {
padding: 3px 4px 2px 2px;
border-radius: 6px;
color: #ffffffa1;
font-size: 12px;
}
.sp-#e62e04 {
	background: #FD706E;
}
.sp-red {
    background: #e62e04;
}
.sp-grey {
	background: #ACACAC;
}
.sp-green {
	background: #57C5A0;
}

/*CATEGORY SLIDER*/
.list-group-item {
    position: relative;
    display: block;
    padding: .1rem 1.25rem;
    margin-bottom: -1px;
    background-color: #DBFFF4;
    border: 2px solid rgba(0,0,0,.125);
}

.sub-link {
	color: #e62e04 !important;
}

.category-slider .dropdown-menu-position {
    left: 272px;
    background: #DBFFF4;
    width: 600px;
    z-index: 99999999999999999999999999999 !important;
    top: -34px;
    position: absolute;
}
.padd-right-0 {
	padding-right: 0;
}
.cate-name {
    padding-left: 22px;
    color: #e62e04;
}
.category-a {
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    bottom: 4px;
    right: 10px;
 }
 .cate-sub-pro {
 	background: transparent;
 	border: 0 !important;
 	padding-left: 10px;
 }
 .cate-sub-pro a {
 	color: #000 !important;
 	font-size: 12px !important;
 }
.collapse.new-collapse {
    display: block;
}
.category-slider {
	background: #EAE7DE;
    padding-bottom: 15px;
}
.category-slider a {
	text-transform: uppercase;
	color: #4B4B4D;
	font-size: 12px;
}
.category-slider a:hover {
	color: #e62e04;
}
.arrow-color {
    color: #A6BCB7;
}
.nav-link:hover .arrow-color {
    color: #e62e04;
}
.cate-sub-pro a:hover {
    color: #e62e04 !important;
} 






.carousel-caption {
    right: 44%;
    bottom: 90px;
}
.carousel-caption button {
    border: 1px solid #d2cece;
    padding: 4px 8px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px 0px #e4e1e1;
    cursor: pointer;
}
.carousel-indicators {
    right: 0;
    bottom: -28px;
    background: #DBFFF4;
    padding: 5px 0;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100px;
    height: 6px;
    border-left: 2px solid grey;
    margin-right: 0px;
    margin-left: 0px;
    text-indent: -999px;
    background-color: #FCDEDB;
}
.carousel-indicators li:first-child {
	border-left: 0;
}
.carousel-indicators .active {
    background-color: #86FCD5;
}
.caro-prev-icon i, .caro-next-icon i {
    font-size: 48px;
    color: grey;
}
.caro-prev-icon i:hover, .caro-next-icon i:hover {
    color: #d6d3d3;
}


/*WIN DEAL*/
.win-deal {
	background: #DBFFF4;
	padding: 30px 0;
}
.win-deal-header {
    position: relative;
    color: #fff;
}
.win-a {
	position: absolute;
	font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background: transparent;
    border: 1px solid #7F8784;
    color:#7F8784 !important;
    padding: 3px 5px;
    border-radius: 5px;
}

.all-flex {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.win-deal-body .card-title, .main-collections-block .card-title {
	font-size: 13px;
}
.card-flex {
	max-width: 212px;
}
/*COLLECTION*/
.collections {
background: #EBE7DE;
padding-top: 20px;
padding-bottom: 20px;
}
.win-deal-color {
    color: #333535;
}

.collections-all-header, .center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.collections-all-header h2 {
    color: #fff;
}

/*WOMEN COLLECTTIONS*/
.collections-block-padd {
    background: #E7EEE6;
    padding-top: 20px;
    border-radius: 5px;
}
.collections-img-position{
   position: relative;
}
.collections-img-position .quick-view {
   position: absolute;
   width: 100%;
   left: 0;
   right: 0;
   bottom: 0;
}

.quick-view {
	background: #5CC19F;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border: 0;
    font-weight: bold;
    display: none;
}
.quick-view:hover {
    background: #DBFFF4;
    color: #e62e04;
} 
.quick-view-img img{
    width: 100%;
    height: 100%;
}
.quick-view-block h2 {
    font-size: 22px;
}
.quick-view-star .fa-star {
    color: #e62e04; 
}

.quick-view-close {
    position: fixed;
    right: 20px;
    top: 15px;
}
.quick-view-color-radio li {
    display: inline-block;
}



.img-header {
	
	position: relative;
}
.women-collection-header {
    position: relative;
	background: url(../images/women-baner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 126px;
}

.women-see-icon {
    position: absolute;
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    right: 27px;
    background: #212020;
    border: 1px solid #212020;
    font-size: 20px;
    color: #fff !important;
    padding: 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}
.women-see-icon:hover {
    background: green;
    border: 2px solid green;
} 
.main-collections-body {
   padding: 40px 10px 0px 10px;
  
}
.card-flex .card-body {
    padding: 16px 8px 20px 8px;
}
.font-22 {
	font-size: 19px;
}
.per-offer {
	background: #e62e04;
    padding: 2px 10px 1px 10px;
    border-radius: 9px;
    color: #fff;
}
.main-collections-block {
	padding: 20px 0px;
}

.main-collections-block:hover .quick-view{
    display: block;
}
.card-img-top {
    position: relative;
}
.img-overlay-history {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.sale-left {
    background: #5CC19F;
    border-radius: 50%;
    padding: 10px 7px;
    color: #fff;
    font-size: 12px;
}
.wish-active {
   
}
.wish-active {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.wish-active i{
    color: grey;
    font-size: 25px;
    padding: 8px;
}
.wish-active .fas.fa-heart {
    color: red;
}
.main-collections-block .fa-star {
    color: yellow;
}



.main-collections-block .card-body {
    padding: 20px 8px 20px 8px;
}
.font-12 {
	font-size: 12px;
}
.home-see-more {
    padding-top: 20px;
    
}
.home-see-more a {
    color: #212529;
    text-decoration: underline;
    font-size: 18px;
}
.home-see-more a:hover {
    color: green;
}
/*MENS COLLECTION*/
.mens-collection-header {
	background: url(../images/men.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 126px;
}
.kids-collection-header {
	background: url(../images/kid.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 126px;
}
.toppic-collection-header {
	background: #3BC5F3;
    height: 126px;
}
/*FOOTER*/
.footer {
	background: #242424;
}
.padd-20 {
	padding: 60px 80px;
}
.footer-block h6 {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}
.footer-block ul li{
list-style: none;
}
.footer-block ul li a{
color: #fff;
font-size: 16px;
}
.footer-block p {
	color: #fff;
}
.contact-footer {
	
}
.contact-footer li{
display: inline-block;
}
.contact-footer li a i{
	background: #2E2E2E;
}
.contact-footer li a i.fa-facebook-f{
	padding: 10px 12px;
}
.contact-footer li a i.fa-twitter{
	padding: 10px 9px;
}
.contact-footer li a i.fa-google-plus-g{
	padding: 10px 7px;
}
.contact-footer li a i.fa-linkedin-in{
	padding: 10px 10px;
}

.last-footer {
	background: #2E2E2E;
	padding: 20px 0 2px 0px;
}
.last-footer p {
	color: #fff;
}


/* ===================================
SHOPPING CART
====================================*/
.shopping-cart {
    background: #EBE7DE;
}
.shop-cart-header {
    padding: 5px 0;
}
.shop-cart-header a {
    font-size: 12px;
}
.shop-cart-header a:first-child {
    color: #4E58F7;
}
.shop-cart-header a:last-child {
    color: #A8A7AA;
}
.pr-new-12 {
    padding-right: 12px !important;
}
.shopping-cart-block-header {
    padding-bottom: 36px !important;
}
.shopping-cart-block-header h1{
    font-size: 24px;
    color: #282923;
    font-weight: 600;
}
.shopping-cart-block-header p{
    font-size: 12px;
}
.cart-header-sale {
    background: #e62e04;
    padding: 2px 6px 1px 6px;
    font-size: 12px !important;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    margin-left: 4px;
    text-transform: uppercase;
}
.shop-cart-padd {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.shop-select-all {
    position: absolute;
    bottom: 8px;
    right: 27px;
    font-size: 20px;
    color: #fff !important;
    padding: 3px 5px;
    cursor: pointer;
}
.shop-select-all label {
    color: #323232;
    font-size: 13px;
}

.shop-cart-history input[type='checkbox']{
  width: 22px !important;
    height: 22px !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    position: relative;
    appearance: none;
    outline: 0 !important;
    background: #fff;
    border-radius: 5px;
    border: 1px solid red;

}

.shop-cart-history input[type='checkbox']:checked:before {
    content: '✔';
    color: white;
    padding-left: 4px;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    height: 100%;
    position: absolute;
    outline: 0 !important;
}
.get-coupons-toggle-body {
    height: 243px;
    width: 317px;
    border: 1px solid #ccc;
    overflow: auto;
    z-index: 99999999999 !important;
    background: #E1FFFB;
    padding: 10px 10px 20px 10px;
}
.get-coupons-toggle .dropdown-menu {
    border: 0;
    top: -10px;
    left: 32px;
}
.official-store h6 {
    color: #00B29B;
}
.official-store p {
    font-size: 12px;
}
.get-coupons-toggle {

}
.coupons-toggle-a {
    font-size: 12px;
    background-color:  #00B29B !important;
    border-color: #00B29B !important;
    color: #fff !important;
}
.pr-n-2 {
    padding-right: 2px !important;
}
.get-block-all {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 10px 1px 15px;
    color: #fff;
    border-radius: 4px;
}
.get-block-first {
    background: url(../images/get-coupon.png);
}
.get-block-sec {
    background: url(../images/get-coupon-two.png);
}
.get-block-third {
    background: url(../images/get-coupon-two.png);
}
.get-coupons-toggle-block-body {
    overflow: hidden;
}
.font-s-13 {
    font-size: 14px !important;
}
.get-block-right {
    width: 100%;
    height: 61px;
    position: relative;
    border-radius: 4px;
}
.get-block-right-first {
    background: #00B29C;
}
.get-block-right-sec {
    background: #01A8F6;
}
.get-block-right-third {
    background: #01A8F6;
}
.get-now-btn {
    text-transform: uppercase;
    font-size: 12px;
    background: #fff;
    border-radius: 20px;
    padding: 2px 10px;
    border: 1px solid #fff;
    color: #9F9F9F;
}



.shop-cart-details img {
    width: 130px;
    height: 160px;
}
.shop-cart-details h3 {
    font-size: 12px;
}
.shop-cart-details .modal-body {
    padding: 0 10px 10px 10px;
}
.shop-cart-details .modal-dialog {
    max-width: 500px;
    margin: 15rem auto;
}
.shop-cart-details .modal-title {
    font-size: 13px;
}
.shop-cart-details .modal-header {
    padding: .6rem 1rem .2rem 1rem;
    border-bottom: 1px solid #bdbdbd;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}
.shop-cart-details .table td, .table th {
   
    border: 0;
}
.shop-cart-details .table th {
padding: 4px 0 4px 0;
}
.shop-cart-details .table td {
padding: 15px .75rem 0px .75rem;
}

.shop-cart-details .table thead th {
    vertical-align: bottom;
    border-bottom: 0;
    font-size: 12px;
}
.shop-cart-details .table td {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
}
.shop-cart-details .modal-body img{
   width: 40px;
   height: 25px;
   border-radius: 5px;
}
.shipping-hr {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}
.containerr {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerr input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 17px;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerr:hover input ~ .checkmark {
  background-color: red;
}

/* When the radio button is checked, add a blue background */
.containerr input:checked ~ .checkmark {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

/* Show the indicator (dot/circle) when checked */
.containerr input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerr .checkmark:after {
    top: 4px;
    left: 3px;
    width: 9px;
    height: 10px;
    border-radius: 50%;
    background: white;
}


.pro-color {
    position: relative;
    margin-right: 22px;
    margin-left: 2px;
}
.pro-color:before {
    position: absolute;
    content: '';
    background: #00B29B;
    height: 10px;
    width: 9px;
    top: 1px;
    border-radius: 2px;
    left: 0;
}
.price-big {
    font-size: 22px !important;
    font-weight: 700;
}
.price-small {
    opacity: 0.7;
}
.price-small span{
    font-size: 18px;
}
.cart-sale {
    background: #e62e04;
    padding: 3px 6px 2px 6px;
    font-size: 11px !important;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    margin-left: 4px;
    text-transform: uppercase;
}
.cart-parcent {
    font-size: 12px !important;
    color: #e62e04;
    font-weight: 700;
    margin-left: 4px;
}
.plus-minus-button {
    border: 1px solid #6CC6A8;
    font-size: 15px;
    font-weight: 700;
    opacity: .7;
    border-radius: 4px;
    color: #212529;
    padding: 1px 6px;
    cursor: pointer;
}
.plus-minus-button:hover {
    border: 1px solid #6CC6A8;
    font-size: 15px;
    font-weight: 700;
    opacity: .7;
    border-radius: 4px;
    color: #212529;
    padding: 1px 6px;
}
.changes-button {
    background: #00B29B;
    border-radius: 2px;
    border: 1px solid #00B29B;
    padding: 1px 10px;
    color: #fff;
}
.wish-delete a {
    font-weight: 700;
}


/*PAYMENT METHOD*/
.payment-method, .more-to-love {
    padding: 30px 10px;
    background: #fff;
    margin-top: 10px;
}
.payment-method-url li {
    display: inline-block;
}
.shopping-card-flex {
    width: 200px;
}

.more-to-love {
    margin-bottom: 80px;
}

/*SHOPPING CART RIGHT*/
/*ORDER SUMMERY*/
.shopping-cart-sidebar {
    padding-top: 35px;
}
.order-summary {
    background: #fff;
    padding: 20px 10px;
}
.order-summary h2 {
    font-size: 18px;
    color: #000 !important;
    font-weight: 700;
}
.order-summary .list-group-item:first-child {
    border-top-left-radius: 0;
 
    border-top-right-radius: 0;
}

.order-summary .list-group-item {
    position: relative;
    display: block;
    padding: .4rem 0rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    color: #949393;
}
.order-summary .badge-primary {
    color: #000;
    background-color: #fff;
}
.order-summary .badge {
    padding: 0;
    font-size: 13px;
    color: #949393;
    font-weight: 600
}
.order-summary button {
    padding: 4px 10px;
    color: #fff;
    background: #00B29C;
    border: 1px solid #00B29C;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}
.order-summary button:hover {
    padding: 4px 10px;
    color: #fff;
    background: #00B29C;
    border: 1px solid #00B29C;
}
.total-single-list {
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}
.new-badge {
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 18px !important;
}

/*SPONSOR PRODUCT*/
.sponsore-header {
    color: #000;
    font-weight: 700;
    font-size: 15px;
}
.sponsore-product {
    background: #fff;
    padding: 20px 10px 100px 10px;
    margin-top: 10px;
}
.sponsore-product h2 {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-bottom: -5px;
    padding-top: 10px;
}
.sponsore-block-item {
    padding: 5px;
    background: #8ED4BC;
    margin-bottom: 5px;
    border-radius: 5px;
}
.pt-new-5 {
    padding-top: 5px;
}
.new-mb-1 {
    margin-bottom: -3px !important;
}
.sponsore-star-color i {
  color: #FFB72D;
  font-size: 10px;
}
.sponsore-star-color span:last-child {
  color: #fff;
  font-size: 12px;
}


.fifty-off {
    background: red;
    padding: 1px 12px;
    color: #fff;
    font-size: 11px;
    border-radius: 5px;
}